<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>account registration</title>
</head>
<body>
<p>Dear <span th:text="${fullName}">target audience</span></p>
<p>
Thank you for registering for an account at <span th:text="${applicationName}">spring-starter-template</span>.
Before we can activate your account one last step must be taken to complete your registration.
</p>
<p>To confirm your registration, please visit this link: </p>
<a th:href="${activationLink}"><span th:text="${activationLink}">activation link</span></a>

</body>
</html>