name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  packages: write

env:
  GH_TOKEN: ${{ github.token }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v6


      - run: docker login ghcr.io -u USERNAME -p ${{ github.token }}
        name: Authenticate to Github container registry

      - name: setup java
        uses: actions/setup-java@v5.0.0
        with:
          java-version-file: .java-version
          distribution: temurin
          cache: gradle

      - name: build
        run: |
          ./gradlew build --no-daemon -Pjib.image=ghcr.io/${{ github.repository }} \
              -Pjib.tags=${{ github.ref == 'refs/heads/main' && 'latest' || format('{0},{1}', github.head_ref, github.sha) }}

      - name: generate summary
        if: always()
        uses: ./.github/actions/test-summary
        with:
          tests_directory: 'application/build/test-results/test'