name: gradle

on:
  pull_request:

permissions:
  contents: read
  packages: write

env:
  GH_TOKEN: ${{ github.token }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v6

      - name: setup java
        uses: actions/setup-java@v5.0.0
        with:
          java-version-file: .java-version
          distribution: temurin

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false

      - name: build
        run:  ./gradlew build --no-daemon -x jib
